<% if local_assigns[:events]%>

    <div>
        <table>
            <% date_on_left = true %>
            <% events.each do |evt| %>

                <tr>
                    <%if date_on_left %>

                        <td class = "col1">
                            <div  class = 'event-info when-where'>
                                <%=evt.when%>
                                <% if evt.location %>
                                    at
                                    <%=evt.location%>
                                <% end %>
                            </div>
                        </td>

                        <td class = "col2">
                            <div class = 'line'>
                                <div class = 'dot-wrapper'>
                                    <div class = "dot"></div>
                                    <span class="tooltiptext">

                                        <% if evt.event_type == nil%>
                                            <%= link_to "Edit", edit_event_path(evt) %>
                                            <%= link_to "Delete", evt , method: :delete, data: { confirm: 'Are you sure?' }, class: "event-delete" %>
                                        <% elsif evt.event_type == 'birth' || evt.event_type == 'death' %>
                                            <%= link_to "Edit", edit_relative_path(@relative) %>
                                        <% elsif evt.event_type == 'marriage_start' || evt.event_type == 'marriage_end' %>
                                            <span>
                                                Edit marriage to edit event
                                            </span>
                                        <%else %>
                                            Useless tooltip :)
                                        <% end%>

                                    </span>
                                </div>
                            </div>
                        </td>

                        <td class = 'col3'>
                            <div  class = 'event-info content'>
                                <%=evt.content%>

                                <% @event_tags_by_event = @all_event_tags.where(event_id: evt.id)%>
                                <% @event_tags_by_event.each do |tag|%>
                                    <% @r = @relatives.find(tag.relative_id)%>
                                    <% unless @r.id == @relative.id%>
                                        <div class = 'event-tag'>
                                            <%display_name = name_for_display(@r)%>
                                            with <%= link_to "#{display_name}", relative_path(@r) %>
                                            <%unless evt.event_owner_id == @r.id%>
                                                <%= link_to tag, method: :delete, data: { confirm: 'Are you sure?' }, class: "event-tag-delete" do %>
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                <% end %>
                                            <%end%>
                                        </div>
                                    <%end%>
                                <%end%>
                                <%= link_to "Add Event Tag", new_event_tag_path(:event_id => evt.id) %>

                            </div>
                        </td>

                    <% else %>

                        <td class = "col1">
                            <div  class = 'event-info content'>
                                <%=evt.content%>

                                <% @event_tags_by_event = @all_event_tags.where(event_id: evt.id)%>
                                <% @event_tags_by_event.each do |tag|%>
                                    <% @r = @relatives.find(tag.relative_id)%>
                                    <% unless @r.id == @relative.id%>
                                        <div class = 'event-tag'>
                                            <%display_name = name_for_display(@r)%>
                                            with <%= link_to "#{display_name}", relative_path(@r) %>
                                            <%unless evt.event_owner_id == @r.id%>
                                                <%= link_to tag, method: :delete, data: { confirm: 'Are you sure?' }, class: "event-tag-delete" do %>
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                <% end %>
                                            <%end%>
                                        </div>
                                    <%end%>
                                <%end%>
                                <%= link_to "Add Event Tag", new_event_tag_path(:event_id => evt.id) %>


                            </div>
                        </td>

                        <td class = "col2">
                            <div class = 'line'>
                                <div class = 'dot-wrapper'>
                                    <div class = "dot"></div>
                                    <%# If this event has an event_type, then open the edit to the relative%>
                                    <span class="tooltiptext">

                                        <% if evt.event_type == nil%>
                                            <%= link_to "Edit", edit_event_path(evt) %>
                                            <%= link_to "Delete", evt , method: :delete, data: { confirm: 'Are you sure?' }, class: "event-delete" %>
                                        <% elsif evt.event_type == 'birth' || evt.event_type == 'death' %>
                                            <%= link_to "Edit", edit_relative_path(@relative) %>
                                        <% elsif evt.event_type == 'marriage_start' || evt.event_type == 'marriage_end' %>
                                            <span>
                                                Edit marriage to edit event
                                            </span>
                                        <%else %>
                                            Useless tooltip :)
                                        <% end%>

                                    </span>
                                </div>
                            </div>
                        </td>

                        <td class = 'col3'>
                            <div class = 'event-info when-where'>
                                <%=evt.when%>
                                <% if evt.location %>
                                    at
                                    <%=evt.location%>
                                <% end %>
                            </div>
                        </td>

                    <% end %>
                </tr>
                <% date_on_left = (!date_on_left) %>
            <% end %>
        </table>
    </div>

<%end%>
