<%= form_for(relative) do |f| %>
    <% if relative.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(relative.errors.count, "error") %> prohibited this relative from being saved:</h2>
            <ul>
                <% relative.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class = "relative-profile-photo">
        <%= f.label "Profile Photo"%>
        <%= f.file_field :profile_photo %>
        <% if f.object.profile_photo? %>
            <div class = 'photo-content-text'>
                <span>
                    <%= f.object.profile_photo%>
                </span>
            </div>
            <div class = "remove-photo">
                <span>
                    <%= f.label "Remove Profile Photo", class: 'photo-label'%>
                    <%= f.check_box :remove_profile_photo %>
                </span>
            </div>
        <% end %>
    </div>

    <div class = "relative-name">
        <%= f.text_field :first,  :maxlength=>"20", placeholder: "First"%> <br>
        <%= f.text_field :nickname,  :maxlength=>"20", placeholder: "Nickname"%> <br>
        <%= f.text_field :middle,  :maxlength=>"20", placeholder: "Middle"%> <br>
        <%= f.text_field :maiden,  :maxlength=>"20", placeholder: "Maiden" %> <br>
        <%= f.text_field :surname,  :maxlength=>"20", placeholder: "Surname" %> <br>
        <%= f.text_field :suffix, :maxlength=>"10", placeholder: "Suffix"%> <br>
    </div>

    <div class = "relative-sex">
        <%= f.radio_button :sex, 'male' %>Male
        <%= f.radio_button :sex, 'female' %>Female
    </div>

    <div class = 'relative-birth'>
        <%= f.label "Born" %>
        <%= f.date_field(:birthday, :maxlength=>"10", placeholder: "YYYY-MM-DD") %>
    </div>

    <div class = 'relative-death'>
        <%= f.label "Died" %>
        <%= f.date_field(:deathday, :maxlength=>"10", placeholder: "YYYY-MM-DD", :include_blank => true, :default => nil) %>
    </div>

    <div class="actions">
        <%= f.submit "Submit Relative", class: "relative-button btn"  %>
    </div>
<% end %>
