<% if local_assigns[:relative]%>

    <%= content_tag :div, class: "thumbnail", onclick: "redirectToRelative(event, #{relative.id})" do %>
        <% if relative.profile_photo%>
            <%= image_tag( relative.profile_photo.url, :class => "profile-pic") %>
        <%end%>
    	<div class = "overlay-panel">
    		<div class="name">
    			<%=name_for_display(relative)%>
    		</div>
    		<div class="relation">
                <%relations = build_tree_for_relative(relative) %>
                <%= content_tag :div, class: "relation-button btn", onclick: "displayFamilyBranches(event, '#{relations}' )"  do %>
                    <span class="glyphicon glyphicon-tree-conifer" />
                <% end %>
                <%= content_tag :div, id: "#{relative.id}", class: "relation-value" do %>
                <% end %>
    		</div>
    	</div>
    <% end %>

<% end %>
