<%= stylesheet_link_tag "relative_tile.scss"%>
<%= stylesheet_link_tag "relatives.scss"%>

<div class = "parallax-container">
<div class="parallax-layer background">
</div>
<div class="parallax-layer foreground">
    <div class="container">
        <div class="row">

            <p id="notice"><%= notice %></p>


            <h1>Relatives</h1>

            <div class= "relatives">
                <%= render partial: "relative_tile", collection: @all_relatives, :as => :relative %>
            </div>

            <br>

            <div class="links">
                <%= link_to 'New Relative', new_relative_path %>
                <%= link_to 'Photos', '../photos' %>
            </div>

        </div>
    </div>
</div>
</div>
