<%= stylesheet_link_tag "relative_show.scss.css"%>
<%= stylesheet_link_tag "relative_event_timeline.scss.css"%>
<%= stylesheet_link_tag "memory_tile.scss.css"%>
<%= stylesheet_link_tag "back_button.scss.css"%>
<%= stylesheet_link_tag "photo_tile.scss.css"%>
<%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Raleway'%>
<%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Cinzel+Decorative'%>


<div class="parallax-container">

    <div class="parallax-layer background">
    </div>
    <div class="parallax-layer foreground">
        <p id="notice"><%= notice %></p>

        <div class= 'edit-and-back'>
            <%= render partial: "/shared/back_button", :locals => {:path => relatives_path} %>

            <%= link_to edit_relative_path(@relative), class: "edit-relative-button btn btn-lg" do %>
                <span class="glyphicon glyphicon-pencil"></span>
            <% end %>
        </div>

        <% photo_sizing = 'portrait' %>
        <% if @relative.profile_photo.file%>
            <% photo_sizing = @relative.photo_height < @relative.photo_width ? 'landscape' : 'portrait'%>
        <% end%>

        <div class = "show-relative-photo <%=photo_sizing%>" >
            <% if @relative.profile_photo.file%>
                <%= image_tag @relative.profile_photo.url unless @relative.profile_photo.file.blank? %>
            <% else %>
                <%= image_tag( @relative.sex=='male'? 'no-photo-male.jpg' : 'no-photo-female.jpg', :class => "profile-pic") %>
            <% end %>
        </div>

        <div class = 'relative-name'>
            <h1>
            <%=@relative.first%>
            <% unless @relative.nickname == "" || @relative.nickname == nil %>
                "<%=@relative.nickname%>"
            <% end%>
            <% unless @relative.middle == "" || @relative.middle == nil %>
                <%=@relative.middle%>
            <% end%>
            <%=@relative.surname%>
                <% unless @relative.maiden == "" || @relative.maiden == nil %>
                (n&eacute;e <%=@relative.maiden%>)
            <% end%>
            </h1>
        </div>

        <div class='relative-birth-death-days'>
            <h4>
                b. <%=@relative.birthday%>
            </h4>
            <% if @relative.deathday %>
                <h4>
                    d. <%= @relative.deathday%>
                </h4>
            <% end%>
        </div>

        <div class = "relative-parents">
            <% @parents = @relative.find_parent_relatives %>
            <% #expect two parents %>
            <% @father = nil %>
            <% @mother = nil %>
            <% @parents.each do |parent| %>
                <% if parent.sex == 'male'%>
                    <% @father = parent %>
                <% else %>
                    <% @mother = parent %>
                <% end  %>
            <% end %>

            <div class = 'father'>
                <% if @father %>
                    <% @father_branch = @all_descendant_branches.find_by(:parent_id => @father.id, :child_id => @relative.id) %>
                    <% father_display_name = @father.name_for_display%>
                    <span class="relative-parent-label">
                        Father:
                        <%= link_to "#{father_display_name}", relative_path(@father) %>
                    </span>

                    <%= link_to edit_descendant_branch_path(@father_branch, :child_id => @relative.id), class: "edit-parent-link relative-button btn  btn-xs" do %>
                        <span class="glyphicon glyphicon-pencil"></span>
                    <% end %>

                    <%= link_to @father_branch, method: :delete, data: { confirm: 'Are you sure?' }, class: "destroy-parent-link relative-button btn  btn-xs" do %>
                        <span class="glyphicon glyphicon-remove"></span>
                    <% end %>

                <% else %>
                    <%= link_to new_descendant_branch_path(:child_id => @relative.id, :parent_type => "father"), class: "add-parent-link relative-button btn " do %>
                        <span class="glyphicon glyphicon-leaf"></span><span class='add-parent-text'>Add Father</span>
                    <% end %>
                <% end %>
            </div>

            <div class = 'mother'>
                <% if @mother %>
                    <% @mother_branch = @all_descendant_branches.find_by(:parent_id => @mother.id, :child_id => @relative.id) %>
                    <% mother_display_name = @mother.name_for_display %>
                    <span class="relative-parent-label">
                        Mother:
                        <%= link_to "#{mother_display_name}", relative_path(@mother) %>
                    </span>

                    <%= link_to edit_descendant_branch_path(@mother_branch, :child_id => @relative.id), class: "edit-parent-link relative-button btn  btn-xs" do %>
                        <span class="glyphicon glyphicon-pencil"></span>
                    <% end %>

                    <%= link_to @mother_branch, method: :delete, data: { confirm: 'Are you sure?' }, class: "destroy-parent-link relative-button btn  btn-xs" do %>
                        <span class="glyphicon glyphicon-remove"></span>
                    <% end %>

                <% else %>
                <%= link_to new_descendant_branch_path(:child_id => @relative.id, :parent_type => "mother"), class: "add-parent-link relative-button btn" do %>
                    <span class="glyphicon glyphicon-leaf"></span><span class='add-parent-text'>Add Mother</span>
                <% end %>
                <% end %>
            </div>


        </div>

        <div class = "relative-marriages">
            <% @marriage_branches = "" %>
            <% @marriage_position = ""%>
            <% if @relative.sex == "male" %>
                <% @marriage_branches = @all_marriage_branches.where(husband_id: @relative.id)%>
                <% @marriage_position = "husband_id"%>
            <% else%>
                <% @marriage_branches = @all_marriage_branches.where(wife_id: @relative.id) %>
                <% @marriage_position = "wife_id"%>
            <% end%>
            <% @marriage_branches = @marriage_branches.all.order(anniversary: :desc) unless @marriage_branches.count < 2%>
            <% @marriage_branches.each do |branch| %>
                <% @spouse = @relative.sex == "male" ? @relatives.find(branch.wife_id) : @relatives.find(branch.husband_id)  %>
                <% spouse_display_name = @spouse.name_for_display %>
                <% unless branch.marriage_end %>
                    <span class='marriage-label'> Married to <%= link_to "#{spouse_display_name}", relative_path(@spouse), class: "relative-spouse-name"%> since <%=branch.anniversary%> </span>
                <% else %>
                    <span class='marriage-label'> Married to <%= link_to "#{spouse_display_name}", relative_path(@spouse), class: "relative-spouse-name" %> from <%=branch.anniversary%> until <%=branch.marriage_end%> </span>
                <% end%>

                <%= link_to edit_marriage_branch_path(branch), class: "edit-marriage-link relative-button btn btn-xs " do %>
                    <span class="glyphicon glyphicon-pencil"></span>
                <% end %>

                <%= link_to branch, method: :delete, data: { confirm: 'Are you sure?' }, class: "destroy-marriage-link relative-button btn btn-xs" do %>
                    <span class="glyphicon glyphicon-remove"></span>
                <% end %>

                <!-- <%= link_to 'Delete', branch, method: :delete, data: { confirm: 'Are you sure?' } %> -->
                <!-- <%= link_to 'Edit', edit_marriage_branch_path(branch) %> -->
                <br/>
            <% end%>

            <!-- <%= link_to "Add Marriage", new_marriage_branch_path(@marriage_position => @relative.id) %> -->
            <%= link_to new_marriage_branch_path(@marriage_position => @relative.id), class: "relative-button-with-text btn" do %>
                <span class="glyphicon glyphicon-bell"></span><span class='event-link-text'>Add Marriage</span>
            <% end %>
        </div>

        <div>
            <h2>Timeline</h2>

                <% related_events = []%>
                <% @event_tags.each do |tag|%>
                    <%related_events.push(@events.find(tag.event_id))%>
                <% end%>
                <% related_events.sort! { |a, b|  a.when <=> b.when }%>

                <%= render partial: "event_timeline", :locals => {:events => related_events} %>

                <%= link_to new_event_path(:relative_id => @relative.id), class: "relative-button-with-text btn" do %>
                    <span class="glyphicon glyphicon-plus-sign"></span><span class='event-link-text'>Add Event</span>
                <% end %>
        </div>

        <div>
            <h2>Memories</h2>
            <% memories = @memories.where(poster_id: @relative.id)%>
            <div class="row  row-centered">
                <%= render partial: "/memories/memory_tile", collection: memories, :as => :memory %>
            </div>

            <!-- <span><%= link_to 'New Memory', new_memory_path(:relative_id => @relative.id) %></span> -->
            <%= link_to new_memory_path(:relative_id => @relative.id), class: "add-memory-link relative-button btn " do %>
                <span class="glyphicon glyphicon-plus-sign"></span><span class='add-memory'>Add Memory</span>
            <% end %>
        </div>

        <div>
            <h2>Photographs</h2>
            <% photo_ids_with_relative = @all_photo_tags.where(relative_id: @relative.id).pluck(:photo_id)%>
            <% photos_with_relative = @all_photos.find(photo_ids_with_relative)%>
            <% photos_with_relative.sort! { |a, b|  a.taken_on <=> b.taken_on }%>

            <div class="row  row-centered">
                <%= render partial: "/photos/photo_tile", collection: photos_with_relative, :as => :photo %>
            </div>


        </div>

    </div>
</div>
