<%= form_for(marriage_branch) do |f| %>
  <% if marriage_branch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(marriage_branch.errors.count, "error") %> prohibited this marriage_branch from being saved:</h2>

      <ul>
      <% marriage_branch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>

      <% if @husband_id%>
        <span>HUSBAND: <%= @relatives.find(@husband_id).first%> <%=@relatives.find(@husband_id).surname%> </span>
      <% elsif @wife_id %>
        <span>WIFE: <%= @relatives.find(@wife_id).first%> <%=@relatives.find(@wife_id).surname %> </span>
      <% else %>
        <span> NO PARAM</span>
      <% end %>

      <% @men = @relatives.where(:sex => "male")%>
      <% @women = @relatives.where(:sex => "female")%>

       <% if @husband_id%>
            <% husband = @relatives.find(@husband_id)%>
            <% viable_spouse_relatives = husband.find_viable_spouse_relatives%>
            <div>
                <%= f.collection_select :husband_id, @men, :id, :name_for_display, :selected => @husband_id,  :readonly => true %>
            </div>
            <br>
            <div>
                <%= f.collection_select :wife_id, viable_spouse_relatives, :id, :name_for_display, {prompt: "Wife"} %>
            </div>
        <% elsif @wife_id %>
            <% wife = @relatives.find(@wife_id)%>
            <% viable_spouse_relatives = wife.find_viable_spouse_relatives%>
            <div>
                <%= f.collection_select :husband_id, viable_spouse_relatives, :id, :name_for_display, {prompt: "Husband"} %>
            </div>
            <br>
            <div>
                <%= f.collection_select :wife_id, @women, :id, :name_for_display,  :selected => @wife_id, :readonly => true%>
            </div>
        <% else %>
            <div>
                <%= f.collection_select :husband_id, @men, :id, :name_for_display, {prompt: "Husband"} %>
            </div>
            <br>
            <div>
                <%= f.collection_select :wife_id, @women, :id, :name_for_display, {prompt: "Wife"} %>
            </div>
        <% end %>
  </div>

  <%= f.label "Anniversary: " %>
  <%= f.date_select(:anniversary, :order => [:month, :day, :year], :start_year => 1700) %>
  <br/>
  <%= f.label "Until:" %>
  <%= f.date_select(:marriage_end, :order => [:month, :day, :year], :start_year => 1700, :include_blank => true, :default => nil) %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
