<%= stylesheet_link_tag "home.scss"%>
<%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Raleway'%>
<%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Cinzel+Decorative'%>

<div class="parallax-container" data-offset="50" data-spy="scroll" data-target='#scrollspy-nav'>
	<div class="parallax-layer background" >
	</div>

	<div class="parallax-layer foreground">
		<div class="container-fluid">

			<div class = 'container-fluid page-tabs'>
				<ul class="nav nav-tabs ">
				  <li class="pull-right"><%= link_to 'Photos', 'photos' %></li>
				  <li class="pull-right" ><%= link_to 'Family', 'relatives' %></li>
				  <li class="pull-right active"><%= link_to 'Home', 'home' %></li>
				</ul>
			</div>

			<p id="notice" style="color: rgba(40,40,40,.8);"><%= notice %>
			</p>

			<div class = "home-contents">
				<h1><span>Welcome!</span></h1><br>

				<div>
					The purpose of this site is to provide a refuge for the family photos that currently reside underneath Grandma's bed.
				</div>

				<h2><span>Relatives</span></h2><br>

				<h3><span>Overview</span></h3><br>

				<div>

					Anyone you’re related to goes here. Click the “Relatives” tab at the top-right of the “Home” page to go to view the family.
					<br>
					Add a relative by clicking the “Add” button at the bottom of the page.
					<br>
					Hover over a person to view his/her name.
					<br>
					Click the tree icon on a given relative to show his/her family breakdown. Click anywhere in the page’s background to stop viewing the family breakdown.
					<br>
					Click on a person (anywhere but the tree icon) to view that person’s profile.
				</div>

				<h3><span>Profile</span></h3><br>

				<h4><span>Biography</span></h4><br>

				<div>
					Use the three buttons above a person’s profile picture to navigate to the previous page, edit the current relative, or delete the current relative (respectively).
					<br>
					Add parents by clicking the “Add Mother” and “Add Father” buttons.
					<br>
					Add marriages by clicking the “Add Marriage” button.
					<br>
					<strong>Note: Adding parents and marriages are how family breakdown is determined on the Overview page.</strong>
				</div>

				<h4><span>Timeline</span></h4><br>
				<div>
					A person’s timeline is partially constructed from the information provided in his/her biography, like births, deaths, and marriages.
					<br>
					Extra events can be added to a person’s timeline by clicking the “Add Event” button at the bottom of the timeline.
					<br>
					Tag people related to each event by clicking the proper “Add Tag” button. Tagging a relative causes the event to also appear on that relative’s timeline.
					<br>
					<strong>Note: An event can only be 140 characters long. For longer events, make a Memory (more information below).</strong>
				</div>

				<h4><span>Photos</span></h4><br>
				<div>
					All photos that contain a given relative are listed the timeline. Hovering over a photo displays its title and date. Clicking on a photo brings up its own view.
				</div>

				<h4><span>Memories</span></h4><br>
				<div>
					For all of those stories that you’ve heard hundreds of times. Upload recorded audio or type memories and save them underneath your own profile (since they’re your memories).
					<br>
					Click on a memory to view its details. Use the three buttons above the memory’s header to navigate back to the relative page, edit the current memory, or delete the current memory (respectively).
					<br>
					<strong>Note: Not all audio file types work in all web browsers. ‘mp3’ files work on Google Chrome, but not Firefox. ‘wav’ files work on Google Chrome and Firefox.</strong>
				</div>

				<h2><span>Photos</span></h2><br>

				<h3><span>Overview</span></h3><br>
				<div>
					Hover over a photo to view its title and date.
					<br>
					Click on a photo to view its details.
				</div>

				<h3><span>Photo Details</span></h3><br>
				<div>
					Use the three buttons above the photo’s header to navigate back to the relative page, edit the current memory, or delete the current memory (respectively).
					<br>
					Tag relatives in a photo by clicking the “Add Tag” button.
					<strong>Note: This is how photos are listed on a relative’s profile</strong>
				</div>

				<h1><span>Questions</span></h1><br>
				<div>
					<strong>What browser should I use?</strong>
					<br>
					Chrome of Firefox (I'd go Firefox).
					<br>
					<strong>What about Internet Explorer?</strong>
					<br>
					Never heard of it.
					<br>
					<strong>Is this backed up anywhere?</strong>
					<br>
					Kind of. If you've added a bunch and want to make sure it doesn't get lost, let me know. I've got to manually trigger my backup script
					( I know, <em>lame</em>, but not everything is automated. Sue me).
					<br>
					<strong>Should this break at any point?</strong>
					<br>
					No.
					<br>
					<strong>Will this break at any point?</strong>
					<br>
					Undoubtedly.
					<br>
					<strong>What should I do if it breaks</strong>
					<br>
					Take a screen shot of the error page or copy the error text and send it to me (please).
					<br>
					Email: nathanweatherly94@gmail.com
				</div>

				<div><a href="https://github.com/weathertopper/family-photo-project" target="_blank">Link to GitHub</a> (for me later) </div>
				<br>
				<div class='bye-bye'>
					Have fun!<br>
					-Nathan D.
				</div>

			</div>
		</div>
	</div>
</div>
