<%= form_for(descendant_branch) do |f| %>
  <% if descendant_branch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(descendant_branch.errors.count, "error") %> prohibited this descendant_branch from being saved:</h2>

      <ul>
      <% descendant_branch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <span><%=@parent_type%></span>
  <span><%=@child_id%></span>

  <%= f.hidden_field :parent_type, :value => @parent_type%>

   <% if @parent_type%>


        <% if @parent_type == "father"%>
            <% @possible_parents = @relatives.where(:sex => 'male')%>
        <%else%>
            <% @possible_parents = @relatives.where(:sex => 'female')%>
        <% end %>

        <div>
            <%= f.collection_select :parent_id, @relatives, :id, :first, {prompt: @parent_type} %>
        </div>
        <br>
        <div>
            <%= f.collection_select :child_id, [@relatives.find(@child_id)], :id, :first, :selected => @child_id %>
        </div>
    <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
