<%= form_for(event_tag) do |f| %>
  <% if event_tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_tag.errors.count, "error") %> prohibited this event_tag from being saved:</h2>

      <ul>
      <% event_tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% viable_relatives_to_tag = @event.viable_relatives_to_tag%>
  <%= f.hidden_field :event_id, :value => @event_id%>

  <div class="event-tag-event-content">
      <span ><%=@event.content%></span>
  </div>

  <%= f.collection_select :relative_id, viable_relatives_to_tag, :id, :name_for_display, { :class => 'btn' } %>

  <div class="actions">
    <%= f.submit "Submit Tag", class: "relative-button btn" %>
  </div>
<% end %>
