<%= form_for(memory) do |f| %>
  <% if memory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(memory.errors.count, "error") %> prohibited this memory from being saved:</h2>

      <ul>
      <% memory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :poster_id, :value => params[:relative_id]%>

  <div class "memory-title">
      <%= f.label "Title: " %>
      <%= f.text_field :title %> <br>
  </div>

  <div class "memory-location">
      <%= f.label "Location: " %>
      <%= f.text_field :location %> <br>
  </div>


   <div class = "memory-content-text">
        <%= f.label "Content" %> <br>
        <%= f.text_area :text_content %> <br>
    </div>

  <div class="memory-content-audio">
    <%= f.label "Audio Content" %><br>
    <%= f.file_field :audio_content %>
    <% if f.object.audio_content? %>
      <%= f.object.audio_content%>
      <%= f.label :remove_audio %>
      <%= f.check_box :remove_audio_content %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
