<%= form_for(memory) do |f| %>
  <% if memory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(memory.errors.count, "error") %> prohibited this memory from being saved:</h2>

      <ul>
      <% memory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :poster_id, :value => @poster_id%>

  <div class "memory-title">
      <%= f.text_field :title, :maxlength=>"30", placeholder: "Title" %> <br>
  </div>

  <div class "memory-location">
      <%= f.text_field :location, :maxlength=>"30", placeholder: "Location" %> <br>
  </div>

  <div class "memory-when">
      <%= f.label "Memory Date: " %>
      <%= f.date_select(:when, :order => [:month, :day, :year], :start_year => 1700) %><br>
  </div>

   <div class = "memory-content-text">
        <%= f.text_area :text_content, placeholder: "Text Content" %> <br>
    </div>

  <div class="memory-content-audio">
    <%= f.label "Audio Content" %><br>
    <%= f.file_field :audio_content %>
    <% if f.object.audio_content? %>
      <%= f.object.audio_content%>
      <%= f.label :remove_audio %>
      <%= f.check_box :remove_audio_content %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
