<%= form_for(memory) do |f| %>
  <% if memory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(memory.errors.count, "error") %> prohibited this memory from being saved:</h2>

      <ul>
      <% memory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :poster_id, :value => @poster_id%>

  <div class "memory-title">
      <%= f.text_field :title, :maxlength=>"30", placeholder: "Title" %> <br>
  </div>

  <div class "memory-location">
      <%= f.text_field :location, :maxlength=>"30", placeholder: "Location" %> <br>
  </div>

  <div class "memory-when">
      <%= f.date_field(:when, :maxlength=>"10", placeholder: "YYYY-MM-DD")%><br>
  </div>

   <div class = "memory-content-text">
        <%= f.text_area :text_content, rows:10, cols: 60, placeholder: "Text Content" %> <br>
    </div>

  <div class="memory-content-audio">
    <%= f.label "Audio Content", class: 'audio-label'%>
    <%= f.file_field :audio_content %>
    <% if f.object.audio_content? %>
        <div class = 'audio-content-text'>
            <span>
                <%= f.object.audio_content%>
            </span>
        </div>
        <div class = "remove-audio">
            <span>
              <%= f.label :remove_audio %>
              <%= f.check_box :remove_audio_content %>
            </span>
        </div>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Submit Memory", class: "relative-button btn" %>
  </div>
<% end %>
