<%= stylesheet_link_tag "memory_form.scss"%>
<%= stylesheet_link_tag "generic_button.scss.css"%>
<%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Raleway'%>
<%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Cinzel+Decorative'%>

<div class="parallax-layer background">
</div>
<div class="parallax-layer foreground">
    <div class= 'edit-back-delete'>
        <%= render partial: "/shared/generic_button", :locals => {:path => relative_path(@poster_id),  :icon_class => "glyphicon glyphicon-arrow-left" } %>
    </div>
    <h1><span>New Memory</span></h1>
    <%= render 'form', memory: @memory %>
</div>
