<p id="notice"><%= notice %></p>

<div>
    <%=@memory.title%>
</div>
<div>
    Posted by: <%=@poster.first%> <%=@poster.surname%>
</div>
<br />
<div>
    Location: <%=@memory.location%>
</div>
<br />
    <div>
        <%=@memory.text_content unless @memory.text_content.blank? %>
    </div>

    <div>
        <%= audio_tag(@memory.audio_content, controls: true)  %>
    </div>



<br/>
<%= link_to 'Edit', edit_memory_path(@memory, :relative_id => @memory.poster_id) %><br/>
<%= link_to 'Back', :back %>
