<p id="notice"><%= notice %></p>

<div>
    <%=@memory.title%>
</div>
<div>
    Posted by: <%=@poster.first%> <%=@poster.surname%>
</div>
<br />
<div>
    Location: <%=@memory.location%>
</div>
<br />
<%if @memory.text_content%>
    <div>
        <%=@memory.text_content%>
    </div>
<%end %>


<br/>
<%= link_to 'Edit', edit_memory_path(@memory) %><br/>
<%= link_to 'Back', :back %>
