<%= stylesheet_link_tag "memory_show.scss.css"%>

<p id="notice"><%= notice %></p>

<div>
    <%=@memory.title%>
</div>
<div>
    Posted by: <%=@poster.first%> <%=@poster.surname%>
</div>
<br />
<div>
    Location: <%=@memory.location%>
</div>
<br />
    <div class = 'memory-text-wrapper'>
        <pre class='memory-text'>
            <%=@memory.text_content unless @memory.text_content.blank? %>
        </pre>
    </div>

    <div>
        <%= audio_tag(@memory.audio_content, controls: true)  %>
    </div>



<br/>
<%= link_to 'Edit', edit_memory_path(@memory, :relative_id => @memory.poster_id) %><br/>
<%= link_to 'Back', :back %>
