<%= form_for(photo_tag) do |f| %>
  <% if photo_tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo_tag.errors.count, "error") %> prohibited this photo_tag from being saved:</h2>

      <ul>
      <% photo_tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

    <div>
        <% photo = @photos.find(@photo_id) %>
        <% viable_relatives_to_tag = photo.viable_relatives_to_tag%>
        <%= f.collection_select :relative_id, viable_relatives_to_tag, :id, :name_for_display %>
    </div>

    <div class = "phototag-photo">
        <%= f.hidden_field :photo_id, :value => @photo_id %>
        <%= image_tag photo.photograph.url%>
    </div>



  <div class="actions">
    <%= f.submit "Add Tag"%>
  </div>
<% end %>
