<%= form_for(photo) do |f| %>
  <% if photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "photo-photo">
      <%= f.label :photograph %><br>
      <%= f.file_field :photograph %><br>
      <% if f.object.photograph? %>
          <%= image_tag f.object.photograph.thumb.url %>
      <% end %>
  </div>

  <div class = 'photo-taken-on'>
      <%= f.label "Taken On:" %>
      <%= f.date_select(:taken_on, :order => [:month, :day, :year], :start_year => 1700) %>
  </div>

  <div class = "photo-location">
      <%= f.label "Location: " %>
      <%= f.text_field :location %> <br>
  </div>

  <div class = "photo-header">
      <%= f.label "Header" %>
      <%= f.text_field :header %> <br>
  </div>

  <div class = "photo-caption">
      <%= f.label "Caption" %> <br>
      <%= f.text_area :caption %> <br>
  </div>

  <div class = "photo-poster">
      <%= f.collection_select :poster_id, @relatives, :id, :first, {prompt: "Poster"} %>
  </div>

  <div class="actions">
      <%= f.submit %>
  </div>
<% end %>
