<%= stylesheet_link_tag "photo_tile.scss"%>
<%= stylesheet_link_tag "photos.scss"%>
<%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Raleway'%>
<%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Cinzel+Decorative'%>

<div class="parallax-container" data-offset="50" data-spy="scroll" data-target='#scrollspy-nav'>
	<div class="parallax-layer background">
	</div>

	<div class="parallax-layer foreground">
		<div class="container-fluid">

			<div class = 'container-fluid page-tabs'>
				<ul class="nav nav-tabs ">
				  <li class="pull-right active"><%= link_to 'Photos', 'photos' %></li>
				  <li class="pull-right" ><%= link_to 'Family', 'relatives' %></li>
				  <li class="pull-right"><%= link_to 'Home', 'home' %></li>
				</ul>
			</div>

			<p id="notice" style="color: rgba(40,40,40,.8);"><%= notice %>
			</p>


			<h1><span>Photographs</span></h1>

            <% photos = @all_photos.sort { |a, b|  a.taken_on <=> b.taken_on }%>

			<div class="photos">
                <div class="row  row-centered">
    				<%= render partial: "photo_tile", collection: photos, :as => :photo %>
    			</div>
			</div>

			<div class= "new-photo-wrapper">
				<%= link_to new_photo_path, class: "relative-button-with-text btn" do %>
					<span class="glyphicon glyphicon-plus-sign"></span><span class='new-photo-text'>Add Photo</span>
				<% end %>
			</div>
		</div>
	</div>
</div>
