<%= stylesheet_link_tag "photo_tile.scss"%>
<%= stylesheet_link_tag "photos.scss"%>
<%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Raleway'%>
<%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Cinzel+Decorative'%>

<div class="parallax-container" data-offset="50" data-spy="scroll" data-target='#scrollspy-nav'>
	<div class="parallax-layer background">
	</div>

	<div class="parallax-layer foreground">
		<div class="container-fluid">
			<p id="notice"><%= notice %>
			</p>


			<h1><span>Photographs</span></h1>

            <% photos = @all_photos.sort { |a, b|  a.taken_on <=> b.taken_on }%>

			<div class="photos">
                <div class="row  row-centered">
    				<%= render partial: "photo_tile", collection: photos, :as => :photo %>
    			</div>
			</div>
			<br>


			<div class="links">
                <%= link_to 'New Photo', new_photo_path %>
                <%= link_to 'Relatives', 'relatives' %>
			</div>
		</div>
	</div>
</div>
