<%= stylesheet_link_tag "photo_show.scss.css"%>
<%= stylesheet_link_tag "generic_button.scss.css"%>
<%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Raleway'%>
<%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Cinzel+Decorative'%>


<div class="parallax-container">

    <div class="parallax-layer background">
    </div>
    <div class="parallax-layer foreground">
        <p id="notice"><%= notice %></p>

        <div class= 'edit-back-delete'>
            <%= render partial: "/shared/generic_button", locals: {:path => photos_path, :icon_class => "glyphicon glyphicon-arrow-left"} %>

            <%= render partial: "/shared/generic_button", locals: {:path => edit_photo_path(@photo), :icon_class => "glyphicon glyphicon-pencil"} %>

            <%= link_to @photo, method: :delete, data: { confirm: 'Are you sure?' }, class: "delete-button relative-button btn btn-md" do %>
                <span class="glyphicon glyphicon-remove"></span>
            <% end %>
        </div>

        <h1 class = "photo-header">
            <%= @photo.header%>
        </h1>
        <br/>
        <h4 class = 'photo-location-date'>
            <%=@photo.location%>, <%=@photo.taken_on%>
        </h4>

        <div>
            <%= image_tag @photo.photograph.url , :class => "show-photo"%>
        </div>
        <div class='photo-tags'>
            <% @photo_tags.each do |tag|%>
                <% @relative = @relatives.find(tag.relative_id)%>
                <% relative_display_name = @relative.name_for_display %>
                <span class="relative-tag">
                    <%= link_to "#{relative_display_name}", relative_path(@relative), class: "relative-tag-name" %>
                    <%= link_to tag, method: :delete, data: { confirm: 'Are you sure?' }, class: "destroy-tag relative-button btn  btn-xs" do %>
                        <span class="glyphicon glyphicon-remove"></span>
                    <% end %>
                </span>

                <!-- <br/> -->
            <% end%>
            <br />
            <%= link_to 'Add Tag', new_photo_tag_path(:photo_id=> @photo.id), class: "relative-button btn" %>
        </div>

        <div class="photo_caption">
            <span>
                <%= @photo.caption%>
            </span>
        </div>
        <% if @poster %>
            <div>
                <% poster_display_name = @poster.name_for_display%>
                <span class="relative-label">
                    Posted by <%= link_to "#{poster_display_name}", relative_path(@poster) %>
                </span>
            </div>
        <%end%>

    </div>
</div>
