<p id="notice"><%= notice %></p>

<div>
    <%= image_tag @photo.photograph.url%>
</div>
<div>
    <%= @photo.header%>
</div>
<div>
    Taken on : <%= @photo.taken_on%><br/>
    Location : <%= @photo.location%><br/>
    Posted by: <%= @poster.first%> <%= @poster.surname%>
</div>
<div>
    <%= @photo.caption%>
</div>
<div>
    Tagged Relatives:
    <div>
        <% @photo_tags.each do |tag|%>
            <%@relative = @relatives.find(tag.relative_id)%>
            <span><%=@relative.first%> <%=@relative.surname%></span>
            <span><%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %></span>
            <br/>
        <% end%>
        <%= link_to 'Add Tag', new_photo_tag_path(:photo_id=> @photo.id) %>
    </div>
</div>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
