<%= form_for(event) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :event_owner_id, :value => params[:relative_id]%>
  
  <div><%=params[:relative_id]%></div><br>
  <div class "event-when">
      <%= f.label "Event Date: " %>
      <%= f.date_select(:when, :order => [:month, :day, :year], :start_year => 1700) %><br>
  </div>
  <div class "event-content">
      <%= f.label "Event: " %>
      <%= f.text_field :content %> <br>
  </div>
  <div class "event-location">
      <%= f.label "Location: " %>
      <%= f.text_field :location %> <br>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
