<%= form_for(event) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :event_owner_id, :value => @relative_id%>

  <div class "event-content">
      <%= f.text_area :content, :maxlength=>"140", rows:5, cols: 30,  placeholder: "Event" %> <br>
  </div>
  <div class "event-location">
      <%= f.text_field :location, :maxlength=>"30", placeholder: "Location" %> <br>
  </div>
  <div class "event-when">
      <%= f.date_field(:when, :maxlength=>"10", placeholder: "YYYY-MM-DD") %><br>
  </div>

  <div class="actions">
    <%= f.submit "Submit Event", class: "relative-button btn"  %>
  </div>
<% end %>
